
<lib-tootltip>text to see the functionality of the tooltip text to see the functionality of the tooltip text to see the functionality of the tooltip text to see the functionality of the tooltip text to see the functionality of the tooltipvery long text to see the functionality of the tooltip very long text to see the functionality of the tooltipvery long text to see the functionality of the tooltipvery long text to see the functionality of the tooltip</lib-tootltip>
<router-outlet></router-outlet>
